*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}

.curtain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(189, 32, 69, 0.5), rgba(18, 18, 165, 0.5));
    z-index: -5;
}

header{
    width: 100%;
    height: 70px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.brand b{
    font-size: 20px;
    color: white;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

header nav a{
    font-size: 19px;
    color: white;
    transition: 0.2s;
}

header nav a:hover{
    color: gold;

}

main{
    width: 100%;
    height: calc(100vh - 90px);
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.title h1{
    font-size: 50px;
    font-weight: 1000;
    color: white;
}

.title p{
    font-size: 25px;
    font-weight: 200;
    color: white;
    font-style: italic;
}
.search{
    width: 100%;
    margin-top: 10px;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search input{
    width: 70%;
    font-size: 20px;
    color: white;
    background-color: transparent;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 25px;
    outline: none;
}

.search input:focus{
    border-color: gold;
}

.search input::placeholder{
    color: white;
    font-weight: 100;
    font-style: italic;
}

.search img{
    position: absolute;
    right: 290px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s;
}

.search img:hover{
    opacity: 1;
    transform: scale(1.2);
}

.socials{
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.socials a img{
    transition: 0.5s;
    opacity: 0.6;
}

.socials a:hover img{
    transform: scale(1.3);
    opacity: 1;
}

footer{
    width: 100%;
    padding: 5px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer p{
    font-size: 12px;

}
